* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    width: 100vw;
    height: 100vh;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: row;
    color: red;
    background-color: white;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.left-section {
    align-items: flex-end;
}

.right-section {
    align-items: flex-start;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: red;
    font-size: 24px;
    font-weight: 900;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 820px;
    width: 820px;
    background-color: white;
    border: solid 5px red;
}

.grid-item {
    display: flex;
    border: 1px solid lightgray;
}

.btn {
    font-family: "Pixelify Sans", sans-serif;
    width: 175px;
    margin-top: 15px;
    padding: 15px;
    font-size: 16px;
    font-weight: 900;
    color: red;
    background-color: white;
    border: 2px solid red;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px;
}

.middle-buttons .btn {
    margin: 15px 5px;
}

.selected {
    color: white;
    background-color: red;
    border: 2px solid red;
}