* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    color: red;
    background-color: white;
}

.middle-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section,
.right-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: 4px solid red;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

.title {
    color: red;
    font-size: 24px;
    font-weight: 900;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    background-color: white;
    outline: 4px solid red;
}

.grid-item {
    display: flex;
    border: 1px solid lightgray;
}

.btn {
    font-family: "Pixelify Sans", sans-serif;
    height: 60px;
    width: 175px;
    margin-top: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: 900;
    color: red;
    background-color: white;
    border: 2px solid red;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px;
}

.middle-buttons .btn {
    margin: 15px 5px;
}

.selected {
    color: white;
    background-color: red;
    border: 2px solid red;
}