* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 820px;
    width: 820px;
    background-color: white;
    border: solid 5px red;
}

.grid-item {
    display: flex;
    border: 1px solid grey;
}

.grid-size-btn {
    height: auto;
    width: auto;
    padding: 15px;
    color: white;
    background-color: red;
    border: 2px solid white;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}